<!DOCTYPE html>
<html>
<head>
    <title>Log List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Log List</h1>
    <form method="get" action="{% url 'log_list' %}">
        <label for="method">Method:</label>
        <select name="method" id="method">
            <option value="">Не выбрано</option>
            {% for method in methods %}
                <option value="{{ method.0 }}" {% if method_filter == method.0 %}selected{% endif %}>{{ method.0 }}</option>
            {% endfor %}
        </select>
        <label for="search">Search:</label>
        <input type="text" name="search" id="search" value="{{ search_query|default_if_none:'' }}">
        <button type="submit">Filter</button>
    </form>
    <table>
    <table>
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>IP</th>
            <th>Method</th>
            <th>Status Code</th>
            <th>created at</th>
        </tr>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td><a href="{% url 'log_card' log.id %}">{{ log.request_url }}</a></td>
                <td><a href="{% url 'log_card' log.id %}">{{ log.client_ip }}</a></td>
                <td><a href="{% url 'log_card' log.id %}">{{ log.request_method }}</a></td>
                <td><a href="{% url 'log_card' log.id %}">{{ log.response_status_code }}</a></td>
                <td>{{ log.created_at }}</td>
            </tr>
        {% empty %}
            <td><h3>No logs found.</h3></td>
        {% endfor %}
    </table>
</body>
</html>
